---
const title = "charge worlds"
---

<html lang="en" class="bg-slate-800 text-slate-50">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <p>the</p>
  </body>
</html>
