---
import { prisma } from "../prisma/client"

const title = "charge worlds"

const character =
  (await prisma.character.findFirst({ where: { name: "Ruby" } })) ??
  (await prisma.character.create({ data: { name: "Ruby" } }))
---

<html lang="en" class="bg-slate-800 text-slate-50">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <h1>{character.name}</h1>
    <p>created at {character.createdAt.toLocaleString()}</p>
  </body>
</html>
